body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: rgb(244, 240, 240); 
    padding: 40px; 
    max-width: 600px; 
    margin: auto; 
}
h1 { 
    text-align: center; 
    color: #2C5EAD; 
}
#inputTaskName { 
    width: 70%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#submit { 
    padding: 10px 15px; 
    font-size: 16px; 
    border: none; 
    background-color: #2C5EAD; 
    color: white; 
    border-radius: 3px; 
    cursor: pointer; 
}

#submit:hover { 
    opacity: 0.9;
    scale: 1.1;
}

.details{
    display: none;
}

ul { 
    list-style-type: none; 
    padding: 0; 
    margin-top: 20px; 
    overflow: visible;
}

li { 
    background-color: #fff; 
    padding: 12px 10px; 
    margin-bottom: 10px; 
    border-radius: 6px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 

}

.task {
    transition: all 0.5s;
}

.task:not(.canceled):hover  {
  transform: scale(1.07);
}

.task:not(.canceled):hover > .details {
    display: flex;
}


.task.has-transition {
  transition: transform 10ms ease-in-out;
}

li.draggingg {
    opacity: 0.6;
}

li.dragging :where(.details, i){
    opacity: 0;
}

li span { 
    flex-grow: 1; 
    margin-right: 10px; 
    font-size: 16px; 
    color: #333; 
}

li input[type="text"] { 
    flex-grow: 1; 
    padding: 6px; 
    font-size: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

button { 
    margin-left: 5px; 
    padding: 6px 10px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 14px; 
}

.btn-edit { 
    background-color: #4BB8FA; 
    color: white; 
}

.btn-save { 
    background-color: #2C5EAD; 
    color: white; 
}

.btn-complete { 
    background-color: #28a745;; 
    color: white; 
}

li button:hover { 
    opacity: 0.9; 
}

.btn-delete{ 
    background-color: #FF6060; 
    color: white; 
}

.completed{
    background-color: #A3DC9A;
}

.canceled{
    background-color: #FF6060;
    opacity: 0.4;
}

.btn-cancel{
    background-color: #D51C39;
    color: white;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
#counter{
    background-color: #4BB8FA;
    border-radius: 20px;
    color: white;
    padding-inline: 0;
    height: 30px;
    min-width: 50px;
    margin: 10px;
    font-size: 1rem;
    text-align: center;
}

/* Loading */
.loader{
    padding-top: 50px;
    color: #4BB8FA;
    display: grid;
    justify-content: center;
    align-items: center;
}
.show{
    display: flex;
}
.hide{
    display: none;
}
.spiner{ 
  border: 14px solid #f3f3f3; /* Light grey */
  border-top: 14px solid #4BB8FA; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  align-self: center;
}

.loading{
    padding-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
